html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block
}

ul {
    list-style: none
}

blockquote,q {
    quotes: none
}

blockquote:before,blockquote:after,q:before,q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

html {
    height: 100%;
    min-height: 100%
}

body {
    min-height: 100%;
    min-width: 310px;
    background-color: #fff
}

html,html a {
    -webkit-font-smoothing: antialiased
}

body,select,input,textarea,button {
    font: normal 14px/1.5 'Archivo',Arial,Helvetica,sans-serif;
    color: #000;
    outline: none
}

a {
    outline: none;
    color: #000;
    text-decoration: none
}

a img {
    border: 0
}

h1,h2,h3,h4,h5 {
    line-height: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility
}

h1 {
    font-size: 23px
}

h2 {
    font-size: 21px
}

h3 {
    font-size: 20px
}

h4 {
    font-size: 18px
}

h5 {
    font-size: 16px
}

strong,b {
    font-weight: 700
}

ol {
    padding-left: 20px
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box
}

.tr,.top-reads ul li .t-tab,.tags-list .tg-item a,.s-menu ul li a,.t-item-info .t-item-title a,.category-sort .cs-item a,.pagination ul li a,.tt-sort-n ul li a,.ps-right .ps-button,.lb-list ul li a,.l-block,.notification-b,.l-bottom .l-button a,.login-form .inp-bottom .forget a,.alphabet ul li a,.persons-list-wrap .person-item a,.p-small-item:before,.tools-list ul li a,.tools-list ul li span,.x-input input,.users-list .user-item a,.w-city ul li a,.radio a {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: nunito;
    src: url(../fonts/nunito/Nunito-Regular.ttf);
    font-weight: 400;
    font-style: normal;
    font-display: swap
}
@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto-Regular.ttf);
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto-Bold.ttf);
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto-Black.ttf);
    font-weight: 900;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: sourcesanspro;
    src: url(../fonts/SourceSansPro-Regular.ttf);
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: sourcesanspro;
    src: url(../fonts/SourceSansPro-Semibold.ttf);
    font-weight: 500;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: sourcesanspro;
    src: url(../fonts/SourceSansPro-Semibold.ttf);
    font-weight: 600;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: sourcesanspro;
    src: url(../fonts/SourceSansPro-Bold.ttf);
    font-weight: 700;
    font-style: normal;
    font-display: swap
}
@font-face {
    font-family: poppins;
    src: url(../fonts/poppins/Poppins-Bold.ttf);
    font-weight: 700;
    font-style: normal;
    font-display: swap
}
@font-face {
    font-family: poppins;
    src: url(../fonts/poppins/Poppins-Black.ttf);
    font-weight: 900;
    font-style: normal;
    font-display: swap
}
@font-face {
    font-family: poppins;
    src: url(../fonts/poppins/Poppins-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
    font-display: swap
}
@font-face {
    font-family: poppins;
    src: url(../fonts/poppins/Poppins-Medium.ttf);
    font-weight: 500;
    font-style: normal;
    font-display: swap
}
@font-face {
    font-family: poppins;
    src: url(../fonts/poppins/Poppins-Regular.ttf);
    font-weight: 400;
    font-style: normal;
    font-display: swap
}
@font-face {
    font-family: open-sans;
    src: url(../fonts/open-sans/OpenSans-Bold.ttf);
    font-weight: 700;
    font-style: normal;
    font-display: swap
}
@font-face {
    font-family: open-sans;
    src: url(../fonts/open-sans/OpenSans-ExtraBold.ttf);
    font-weight: 900;
    font-style: normal;
    font-display: swap
}
@font-face {
    font-family: open-sans;
    src: url(../fonts/open-sans/OpenSans-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
    font-display: swap
}
@font-face {
    font-family: open-sans;
    src: url(../fonts/open-sans/OpenSans-Medium.ttf);
    font-weight: 500;
    font-style: normal;
    font-display: swap
}
@font-face {
    font-family: open-sans;
    src: url(../fonts/open-sans/OpenSans-Regular.ttf);
    font-weight: 400;
    font-style: normal;
    font-display: swap
}
@font-face {
    font-family: inter;
    src: url(../fonts/inter/Inter-Bold.ttf);
    font-weight: 700;
    font-style: normal;
    font-display: swap
}
@font-face {
    font-family: inter;
    src: url(../fonts/inter/Inter-Black.ttf);
    font-weight: 900;
    font-style: normal;
    font-display: swap
}
@font-face {
    font-family: inter;
    src: url(../fonts/inter/Inter-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
    font-display: swap
}
@font-face {
    font-family: inter;
    src: url(../fonts/inter/Inter-Medium.ttf);
    font-weight: 500;
    font-style: normal;
    font-display: swap
}
@font-face {
    font-family: inter;
    src: url(../fonts/inter/Inter-Regular.ttf);
    font-weight: 400;
    font-style: normal;
    font-display: swap
}
.container{
    max-width: 1360px;
    width: 100%;
    margin: 0 auto;
}
.nav-item a{
    color:  #135E69;
    text-align: center;
    font-family: sourcesanspro;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    text-transform: uppercase;
    position: relative;
}
header .container{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.navbar{
    display: flex;
    gap: 30px;
    align-items: center;
}
.head-right{
    display: flex;
    gap: 15px;
    align-items: center;
}
.lang{
    display: flex;
    gap: 15px;
}
header{
    padding: 18px 0;
}
.lang .lang-item a{
    color:  #135E69;
    text-align: center;
    font-family: sourcesanspro;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    text-transform: uppercase;
}
.navbar li a::before {
    content: "";
    position: absolute;
    left: 50%;
    width: 0;
    height: 2px;
    background: #135E69;
    bottom: 0 !important;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
    top: 20px;
}
.navbar li a:hover::before, .navbar li .active::before {
    left: 23% !important;
    width: 56% !important;
}
.search form{
    width: 22px;
    height: 22px;
    background: #404041;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.search form img{
    position: relative;
    z-index: 99;
}
.search input{
    max-width: 578px;
    width: 100%;
    height: 29px;
    position: absolute;
    right: 26px;
    border-radius: 5px;
    border: 1px solid #CCCBCB;
    background: #FFF;
    padding: 8px 9px;
    color: #777676;
    font-family: sourcesanspro;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    width: 0;
    visibility: hidden;
    transition: 0.5s all ease-in-out;
    -webkit-transition: 0.5s all ease-in-out;
    -moz-transition: 0.5s all ease-in-out;
    -ms-transition: 0.5s all ease-in-out;
    -o-transition: 0.5s all ease-in-out;
}
.search input.active{
    width: 100%;
    visibility: visible;
    z-index: 99;
}
.search-close{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: none;
}
.search-close.active{
    display: block;
}
header{
    background: #F8F8F8;
    box-shadow: 0px 2px 35px 0px rgba(0, 0, 0, 0.25);
    position: fixed;
    width: 100%;
    z-index: 99;
}
.d-flex{
    display: flex;
}
.home-left{
    max-width: 50%;
    display: flex;
    justify-content: center;
    height: 100%;
    flex-direction: column;
}
.home-right{
    max-width: 50%;
    position: absolute;
    right: 0;
    width: 100%;
}
.home-right img{
    width: 100%;
    max-height: 880px;
}
.home-text{
    color: #343434;
    font-family: roboto;
    font-size: 75px;
    font-style: normal;
    font-weight: 600;
    line-height: 146.5%; /* 109.875px */
    letter-spacing: 2.625px;
    max-width: 570px;
}
#home .container{
    max-height: 880px;
    height: 880px;
}
#home .d-flex{
    height: 100%;
}
.home-about-btn{
    margin-top: 100px;
    margin-bottom: 20px;
}
.home-about-btn,#home .social-icons{
    background: #FFF;
    color:  #333;
    font-family: roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px; /* 75% */
    letter-spacing: 3.2px;
    text-transform: uppercase;
    width: 181px;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
#home{
    background: #F8F8F8;
    padding: 0 !important;
}
.col-6{
    width: 50%;
}
section{
    padding: 100px 0;
}
#about{
    overflow: hidden;
    position: relative;
    padding: 0;
    margin: 100px 0;
}
#about .container{
    position: relative;
    transform: translateY(110%);
    transition: 0.5s all ease-in-out;
    -webkit-transition: 0.5s all ease-in-out;
    -moz-transition: 0.5s all ease-in-out;
    -ms-transition: 0.5s all ease-in-out;
    -o-transition: 0.5s all ease-in-out;
    -webkit-transform: translateY(110%);
    -moz-transform: translateY(110%);
    -ms-transform: translateY(110%);
    -o-transform: translateY(110%);
}
#about .container.active{
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
}
#about hr{
    background: #135E69;
    height: 8px;
    width: 84px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    position: absolute;
    top: 17px;
    left: -40px;
}
.about-head{
    color:  #135E69;
    font-family: Poppins;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%; /* 80px */
    margin-left: 38px;
    max-width: 339px;
}
.about-body{
    color: #484848;
    font-family: open-sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 37.5px */
}
.about-body strong{
    color: #484848;
    font-family: open-sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}
.category-bg{
    width: 100%;
    max-height: 700px;
    object-fit: cover;
}
#category{
    position: relative;
    padding: 0;
    margin: 100px 0;
    max-height: 700px;
}
.line-category{
    position: absolute;
    bottom: 220px;
    width: 100%;
    z-index: 9;
}
.line-img {
    width: 100%;
    position: absolute;
    bottom: 9px;
}
.categories{
    position: absolute;
    bottom: 83px;
    width: 100%;
    z-index: 9;
}
.categories .container{
    display: flex;
    justify-content: space-between;
    max-height: 152px;
}
.category:nth-child(2),
.category:nth-child(4){
    flex-direction: column-reverse;
    margin-top: -144px;
}
.category{
    width: 197px;
    height: 152px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.category-name{
    color: #FFF;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}
.category-gradient{
    position: absolute;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.18) 0%, rgba(255, 255, 255, 0.40) 0.01%, rgba(0, 0, 0, 0.62) 100%);
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 8;
}
.bg-images img{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 700px;
    width: 100%;
    object-fit: cover;
    z-index: 7;
    transition: 0.5s all ease-in-out;
    -webkit-transition: 0.5s all ease-in-out;
    -moz-transition: 0.5s all ease-in-out;
    -ms-transition: 0.5s all ease-in-out;
    -o-transition: 0.5s all ease-in-out;
}
.head-title{
    color: #404041;
    font-family: poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 107.5%;
    letter-spacing: 1.4px;
    margin-bottom: 66px;
}
.start_cards{
    justify-content: space-between;
}
.start_head{
    color: #1F1F1F;
    font-family: inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -4.8px;
    margin-bottom: 21px;
    margin-top: 38px;
}
.start_body{
    overflow: hidden;
    color: #000;
    text-overflow: ellipsis;
    font-family: open-sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 17px;
    min-height: 144px;
}
.start_link{
    color: #1F1F1F;
    font-family: inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.start_link img{
    margin-left: 29px;
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
}
.start_card{
    max-width: 400px;
    width: 100%;
    border: 1px solid var(--maingrey, #404041);
    padding: 0 10px 43px 10px;
}
.start_img{
    text-align: center;
}
.start_link:hover img{
    margin-left: 50px;
}
#home-form{
    padding: 30px 0;
    margin: 70px 0;  
    background: #F8F8F8; 
    position: relative;
}
.inquiry-form{
    position: relative;
}
.home-form-img{
    position: absolute;
    right: 0;
    bottom: 55px;
}
.form_head{
    color: #404041;
    font-family: poppins;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 107.5%;
    letter-spacing: 1.75px;
    margin-bottom: 25px;
}
.form_text{
    color:  #404041;
    font-family: open-sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 107.5%; /* 30.1px */
    letter-spacing: 0.028px;
}
.form_item label{
    width: 100%;
    display: inline-block;
    margin: 20px 0 15px 0;
    color: #404041;
    font-family: poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 107.5%;
    letter-spacing: 0.7px;
}
.form_item .nice-select,.form_item input,.form_item textarea{
    border: 1px solid  #A8A8A8;
    background: #FFF;
    width: 100%;
    height: 40px;
    max-width: 600px;
    border-bottom: 2px solid #135E69;    
    padding: 8px 9px;
    color: #777676;
    font-family: sourcesanspro;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
}
.form_item textarea{
    height: 170px;
}
.checkbox label{
    color: #404041;
    font-family: open-sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 107.5%;
    letter-spacing: 0.018px;
}
.checkbox a{
    color: #777676;
}
.checkbox{
    margin: 20px 0;
}
.pretty input {
    min-width: auto !important; 
    width: 22px !important;
    height: 22px !important;
    top: -2px !important;
}
.pretty .svg{
    width: 22px !important;
    height: 22px !important;
    top: -2px !important;
}
.pretty .state label:after, .pretty .state label:before {
    content: '';
    width: 18px !important;
    height: 18px !important;
    left: 0;
    top: -2px !important;
}
.form_send{
    display: block;
    border: 1px solid #CECECE;
    background: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    width: 167px;
    height: 35px;
    cursor: pointer;
    color: #404041;
    font-family: poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 107.5%;
    letter-spacing: 0.7px;
}
.form-send img{
    margin-left: 19px;
}
.pop-up{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.pop-up .bg{
    background: rgba(27, 27, 27, 0.50);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}
.center-pop{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 383px;
    height: 294px;
    align-items: center;
    justify-content: center;
    padding: 60px;
    text-align: center;
    border-radius: 3px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.center-pop img{
    margin-bottom: 42px;
}
.center-pop p{
    color:  #404041;
    text-align: center;
    font-family: roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 107.5%; /* 23.65px */
    letter-spacing: 0.022px;
}
.pop-close{
    position: absolute;
    right: 23px;
    top: 23px;
    cursor: pointer;
}
.news-img {
    display: block;
    position: relative;
    width: 100%;
    background-color: #DBEDF7;
    overflow: hidden;
}
.news-img:before {
    content: "";
    display: block;
    width: 100%;
    padding-top: 70%;
    position: relative;
}
.news-img img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    object-fit: cover;
}
.news-card{
    max-width: 400px;
    width: 100%;
}
.news_head{
    color: #000;
    font-family: roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    margin: 15px 0 5px 0
}
.news_text{
    color: #CFCFCF;
    font-family: roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 18px */
}
.news-cards{
    justify-content: space-between;
}
footer{
    padding: 57px 0 22px 0;
    background: #f8f8f8;
}
.ftc_head{
    color: #343434;
    font-family: open-sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 151%;
    margin-bottom: 15px;
}
.ftc-line p{
    color: #343434;
    font-family: open-sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 21px */
}
.ftc-line a{
    color: #343434;
    font-family: open-sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 151%;
}
.foot-contact{
    max-width: 300px;
    width: 100%;
}
.footer-top{
    display: flex;
    justify-content: space-between;
}
.ftc-line{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.foot-socials{
    display: flex;
    gap: 10px;
}
.foot-socials a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.copyright{
    color: #757575;
    font-family: poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.footer-bottom{
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
.foot-item{
    color: #404041;
    font-family: poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-right: 15px;
}
.foot-item:not(:first-child){
    border-left: 1px solid #D9D9D9;
    padding-left: 15px;
}
.footer-list{
    display: flex;
}
#services{
    padding-top: 170px;
}
.col-5{
    width: 40%;
}
.services-text{
    color:  #404041;
    text-align: justify;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 136%;
    letter-spacing: 0.4px;
}
.services-block .head-title{
    margin-bottom: 30px;
}
.services-block{
    display: flex;
    justify-content: space-between;
}
.services-block .services-img{
    width: 100%;
}
.services-text-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.services-btn{
    width: 100%;
    display: flex;
    justify-content: end;
    margin-top: 24px;
}
.services-btn a{
    color: #8E8E8E;
    font-family: nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
.services-btn a svg{
    margin-left: 10px;
}
.services-block-opposite .col-5:first-child{
    order: 1;
}
.services-block:not(.services-block-first){
    padding: 100px 0;
}
.services-block-first{
    padding-bottom: 100px;
}
.page-head{
    margin-bottom: 2px;
}
.service-name{
    color:  #404041;
    font-family: nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-left: 10px;
}
.service-price{
    color: #404041;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
.services-list{
    width: 70%;
    margin-top: 45px;
}
.services-item::before{
    content: "";
    width: 9px;
    height: 1px;
    display: inline-block;
    background: url("../img/services-line.png");
    position: absolute;
}
.services-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.win-back{
    position: relative;
    left: -50px;
}
.single-form-link{
    color: #404041;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 107.5%;
    letter-spacing: 0.63px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}
.single-form-link img{
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    margin-left: 5px;
}
.single-form-link:hover img{
    margin-right: -20px;
    margin-left: 25px;
}
.inquiry-form .win-back {
    position: relative;
    left: -50px;
    top: 48px;
}
.inquiry-form .home-form-img {
    bottom: 150px;
}
.inquiry-form .form_send{
    margin-top: 40px;
}
.flex-end{
    display: flex;
    width: 100%;
    max-width: 600px;
    justify-content: end;
}
.inquiry-form .form_text{
    max-width: 980px;
    color:  #404041;
    font-family: poppins;
    font-size: 29px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}
.inquiry-form .form_head{
    color: #404041;
    font-family: poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 107.5%;
    letter-spacing: 1.4px;
}
.abs-page-img{
    position: absolute;
    left: 0;
    max-height: 500px;
    width: 250px;
}
.page-text{
    color: #000;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    max-width: 750px;
    min-height: 380px;
    display: flex;
    align-items: center;
}
.other-page-head{
    color: #1F1F1F;
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 144px;
    letter-spacing: -4.8px;
}
.col-4{
    width: 32%;
}
.col-7{
    width: 64%;
}
.programs-head{
    color:  #404041;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 84.5px;
    letter-spacing: -3.8px;
    margin-bottom: 60px;
}
#academyPagePrograms{
    background: #F8F8F8;
    padding: 30px 0;
    margin: 70px 0;
}
.program-card{
    max-width: 442px;
    border: double 4px transparent;
    border-radius: 10px;
    background-image: linear-gradient(white, white),                     
    linear-gradient(to bottom, #1B94A5, #579AFF, #4D49C7, #F1D881);
    background-origin: border-box;
    background-clip: content-box, border-box;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.program-head{
    color: #000;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 35px;
    padding: 30px 40px;
    padding-bottom: 0;
}
.program-text{
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding: 30px 40px;
    padding-top: 0;
}
.program-cards{
    gap: 14px;
}
.info-card{
    border: 1px solid var(--Stroke1, #CECECE);
    background: #FFF;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
    padding: 15px 20px 40px 20px;
    max-width: 640px;
}
.head-number{
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 84.5px; /* 169% */
    letter-spacing: -3.8px;
    background: linear-gradient(180deg, #1B94A5 0%, rgba(87, 154, 255, 0.74) 61.46%, rgba(77, 73, 199, 0.52) 91.67%, rgba(241, 216, 129, 0.58) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.info-item{
    color: #000;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
}
.info-list{
    list-style: auto;
    margin-left: 40px;
}
.info-second{
    color:  #404041;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 84.5px;
    letter-spacing: -3.8px;
    margin-bottom: 50px;
}
.info-cards{
    gap: 35px;
}
.portfolio-cards{
    background: #FFF;
    flex-wrap: wrap;
    margin-top: 70px;
}
.portfolio-card {
    padding: 70px 30px;
    max-width: 340px;
    text-align: center;
    border: 1px solid var(--A2, #A8A8A8);
    width: 100%;
}
.portfolio-card img {
    margin-bottom: 32px;
    min-height: 192px;
    object-fit: contain;
    max-width: 258px;
}
#portfolio{
    padding-top: 150px;
}